server:
  port: 8080
spring:
  application:
    name: customer # !!! this is the name of the service in the eureka's 'application' section
  datasource:
    password: password
    url: jdbc:postgresql://localhost:5432/customer
    username: paulzverev
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
management:
  tracing:
    sampling:
      probability: 1.0