server:
  port: 8083
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: customer # Название маршрута
          uri: lb://CUSTOMER # Куда ведет (lb - load balancer)
          predicates: # Условие срабатывания
            - Path=/api/v1/customers/** # Если путь начинается с
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
management:
  tracing:
    sampling:
      probability: 1.0